


<div class="container-fluid">
  <app-header></app-header>
  <br>

    <div>
      <button routerLink="/addemp" class="btn btn-success">Add Employee</button>

    </div>
    <br>
    <div class="row">
      <div class="col">
        <table class="table table-bordered table-hover">
          <thead>
            <th>#</th>
            <th>Name</th>
            <th>Department</th>
            <th>Status</th>
            <th>Created date</th>
            <th>Upadatated date</th>
            <th>Country</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of EmpData;index as i">
                <td> {{i+1}} </td>
                <td> <a [routerLink]="['/empDetails',item.id]">{{item.name}} </a> </td>
                <td> {{item.departmentit}} </td>
                <td> <h5 ><span style="padding: 8px;" 
                  [ngClass]="{
                    'badge':true,
                    'badge-pill':true,
                    'badge-danger':item.status =='suspend',
                    'badge-warning':item.status =='inactive',
                    ' badge-success':item.status=='active'
                  }">
                  {{item.status | titlecase}}</span></h5>  </td>
                <td> {{item.createddtm | date:'dd-MM-yyyy'}} </td>
                <td> {{item.updateddtm | date}} </td>
                <td> {{item.country.cname}} </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

</div>