<p>switchdirective works!</p>

<label for="">Color Name :: &nbsp;&nbsp;</label>
<input #colorname type="text" placeholder="Enter the Color Name"> <br><br>
<button (click)="onClick(colorname.value)">Send</button>
<br><br>

<div class="mydiv" [ngSwitch]="choice">

  <div *ngSwitchCase="'red'"
    [style.background]="choice"
  > Ur Color is {{choice}} </div>
  <div *ngSwitchCase="'blue'"   [style.background]="choice"> Ur Color is {{choice}} </div>
  <div *ngSwitchCase="'green'"   [style.background]="choice"> Ur Color is {{choice}} </div>

  <div *ngSwitchDefault   [style.background]="choice==''?'black':'orange'"
      [style.color]="choice==''?'white':'black'">
      Ur color is wrong {{choice}}
   </div>

</div>

