<p>fordirective works!</p>

<!-- synatx => *ngfor="let item of arrayName" -->

<table border="1px">
  <thead>
    <th>Sr No</th>
    <th>Product Name</th>
    <th>Price</th>
    <th>Quantity</th>
  </thead>
  <tbody>
    <tr  *ngFor="let item of arrProduct;index as i "
    (mouseover)="onMouseOver(item)"
    (mouseout)="onMouseOut()"
    [ngClass]=" {
      'highlight': selected == item.name
    } "
    >
      <td> {{i+1}} </td>
      <td> {{item.name}} </td>
      <td> {{item.price}} </td>
      <td> {{item.quantity}} </td>
    </tr>
  </tbody>
</table>